<div class="main accounts-sign-up">
   <div class="container">
      <h2 class="form-heading ms-2">サインイン</h2>
      <%= form_with model: @session, url: login_path, local: true do |f| %>
        <%= flash[:danger] %>
        <div class="form">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td class="col-6">
                  <div class="mb-3">
                    <%= f.label :email, { class: "form-label"} %>
                    <%= f.email_field :email, { class: "form-control", placeholder: "メールアドレス" } %>
                  </div>
                </td>
                <td class="col-6">

                </td>
              </tr>
              <tr>
                <td class="col-6">
                  <div class="mb-3">
                    <%= f.label :password, { class: "form-label"} %>
                    <%= f.password_field :password, { class: "form-control" } %>
                  </div>
                </td>
                <td class="col-6">

                </td>
              </tr>
              <tr>
                <td class="col-6">
                  <%= f.submit 'サインイン', class: "btn btn-primary rounded-pill" %>
                </td>
                <td class="col-6">

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
</div>