
<turbo-frame id="turbo-frame-post-<%= post.id %>">
  <div class="row mb-2" id="posts">
    <div class="col-2">
      <%= link_to image_tag(this_user.icon.thumb100.url, class: "rounded-circle"), "/posts/#{post.username}/profile" %>
    </div>
    <div class="col-10">
      <p class="mb-0"><%= this_user.name %>
      <a data-turbo="false" class="text-decoration-none" href="/posts/<%= post.username %>/profile">@<%= post.username %></a>
      </p>
      <div class="content" onclick="jumpToThis(<%= post.id %>)"><%= nl2br(post.content) %></div>
      <div class="post_footer">
        <!-- リプライ -->
        
        <%= link_to  post_new_path(post), data: { turbo_frame: 'modal' } do %>
          <i id="reply_icon" class="fa-regular fa-comment">
            <%= reply_count(post) %>
          </i>
        <% end %>
        <!-- <i id="reply_icon" class="fa-regular fa-comment"></i> -->
        <!-- いいね -->
        <% if current_user.liked_by?(post.id) %>
          <%= link_to post_likes_path(post), class: "link-danger", data: { turbo_method: :delete } do%>
            <i class="fa-solid fa-heart"><%= post.likes.count %></i>
          <% end %>
        <% else %>
          <%= link_to post_likes_path(post), method: :get, class: "link-secondary" do %>
            <i class="fa-regular fa-heart"><%= post.likes.count %></i>
          <% end %>
        <% end %>
        <%= post.created_at %>
      </div>
    </div>
  </div>
</turbo-frame>