<div class="row" id="follow_<%= this_user.id %>">
    <div class="col-3">
      <%= image_tag this_user.icon.thumb.url, class: "rounded-circle" %>
    </div>
    <div class="col-4">
      <h3><b><%= this_user.name %></b></h3>
      <p><small class="text-muted">@<%= this_user.username %></small></p>
      <p>
        <a href="/follows/followings/<%= this_user.username %>" class="link-dark">
          <strong><%= this_user.followings.count %></strong>
          <small class="text-muted">フォロー中</small>
        </a>
        <a href="/follows/followers/<%= this_user.username %>" class="link-dark">
          <strong><%= this_user.followers.count %></strong>
          <small class="text-muted">フォロワー</small>
        </a>
      </p>
    </div>
    <div class="col-5">
      <%= render 'shared/follow_button', this_user: this_user %>
    </div>
</div>