<table class="table table-hover">
   <% posts.each do |post| %>
      <tbody>
            <tr>
               <td id="posts" onclick="jumpToThis(<%= post.id %>)">
                  <%
                     user = @users.find_by(username: post.username)
                  %>
                  <p><%= user.name %><%= link_to ('@' + post.username), "/posts/#{post.username}/profile", method: :get, class: "text-decoration-none"%></p>
                  <%= nl2br(post.content) %> <br>
                  <%= post.created_at %>
               </td>
            </tr>
      </tbody>
   <% end %>
</table>

<script>
   function jumpToThis(id){
      location = '/posts/' + id;
   }
</script>