<div class="container">
   <% posts.each do |post| %>
      <%
         this_user = @users.find_by(username: post.username)
      %>
      <div class="row" id="posts">
         <div class="col-2">
            <%= link_to image_tag(this_user.icon.thumb100.url, class: "rounded-circle"), "/posts/#{post.username}/profile" %>
         </div>
         <div class="col-10" onclick="jumpToThis(<%= post.id %>)">
            <p class="mb-0"><%= this_user.name %><%= link_to ('@' + post.username), "/posts/#{post.username}/profile", method: :get, class: "text-decoration-none"%></p>
            <%= nl2br(post.content) %><br>
            <%= render partial: 'shared/likes', locals:{ 'post': post } %>
            <%= post.created_at %>
         </div>
      </div>
      <br>
   <% end %>
</div>

<script>
   function jumpToThis(id){
      location = '/posts/' + id
   }

   function jumpToProfile(username){
      location = '/posts/' + username + '/profile'
   }
</script>