<%
   this_user = @this_user
%>
<div class="main profile">
   <div class="container">
      <div class="row">
         <div class="col-3">
            <%= image_tag this_user.icon.thumb.url, class: "rounded-circle" %>
         </div>
         <div class="col-4">
            <h3><b><%= this_user.name %></b></h3>
            <p><small class="text-muted">@<%= this_user.username %></small></p>
            <p>
               <a href="/follows/followings/<%= this_user.username %>" class="link-dark">
                  <strong><%= this_user.followings.count %></strong>
                  <small class="text-muted">フォロー中</small>
               </a>
               <a href="/follows/followers/<%= this_user.username %>" class="link-dark">
                  <strong><%= this_user.followers.count %></strong>
                  <small class="text-muted">フォロワー</small>
               </a>
            </p>
         </div>
         <div class="col-5">
            <% if current_user.username == this_user.username %>
               <div class="follow_<%= this_user.id %>">
                  <%= button_to 'プロフィールを編集', "/#{this_user.username}/profile/edit", method: :get, class: "btn btn-primary rounded-pill" %>
               </div>
            <% else %>
               <%= render 'shared/follow_button', this_user: this_user %>
            <% end %>
         </div>
      </div>
      <div class="row">
         <p><%= this_user.bio %></p>
      </div>

  </div>
</div>

<%= render partial: 'shared/TimeLine', locals:{ 'posts': @posts, 'users': @users } %>