<!DOCTYPE html>
<html>
  <head>
    <title>タイトル</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
<!--- Rails6.0以降は"javascript_pack_tag"、5.0以前は"javascript_include_tag"--->

    <!-- font awesome my code -->
    <script src="https://kit.fontawesome.com/28e6e3a7c9.js" crossorigin="anonymous"></script>
    <!-- font awesome animation code -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css">
    <!-- bootstrap.js の cdn -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
  </head>
  
  <body class="container-fluid">
    <%= turbo_frame_tag "modal" %>
    <div class="row">
      <div class="col-3">
        <header>
          <ul class="nav flex-column m-4 w-50">
            <li class="nav-item">
              <%= button_to 'タイムライン', posts_index_path, method: :get, data: { turbo: false }, class: "nav-link btn btn-link rounded-pill"%>
            </li>
            <li class="nav-item">
              <%= button_to '検索', search_index_path, method: :get, class: "nav-link  btn btn-link rounded-pill", data: { turbo: false } %>
            </li>
            <li class="nav-item">
              <%= button_to '通知', posts_index_path, method: :get, class: "nav-link  btn btn-link rounded-pill"%>
            </li>
            <li class="nav-item">
              <%= button_to 'メッセージ', posts_index_path, method: :get, class: "nav-link  btn btn-link rounded-pill"%>
            </li>
            <% if current_user != nil %>
              <li class="nav-item">
                <%= button_to 'マイページ', "/posts/#{current_user.username}/profile", method: :get, class: "nav-link  btn btn-link rounded-pill"%>
              </li>
            <% end %>
            <li class="nav-item">
              <%= button_to 'アカウント作成', signup_path, method: :get, class: "nav-link  btn btn-link rounded-pill"%>
            </li>
            <li class="nav-item">
              <%= button_to 'ログイン', login_path, method: :get, class: "nav-link  btn btn-link rounded-pill"%>
            </li>
            <li class="nav-item">
              <%= button_to '設定', posts_index_path, method: :get, class: "nav-link  btn btn-link rounded-pill"%>
            </li>
            <li class="nav-item">
              <%= button_to '投稿', posts_new_path, method: :get, class: "nav-link  btn btn-link rounded-pill", data: { turbo_frame: 'modal' } %>
            </li>
        </header>
      </div>
      <div class="col-6">
        <!-- 各ビューファイルは以下のyieldに代入され、application.html.erbの一部となる -->
        <%= yield %>
      </div>
      <div class="col-3">
        <!-- コンテンツ -->
      </div>
    </div>
  </body>
</html>