<!DOCTYPE html>
<html>
  <head>
    <title>タイトル</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--- Rails6.0以降は"javascript_pack_tag"、5.0以前は"javascript_include_tag"--->

  </head>

  <body class="container-fluid">
    <div class="row">
      <div class="col-3">
        <header>
          <ul class="nav flex-column m-4 w-50">
            <li class="nav-item">
              <%= link_to 'タイムライン', posts_index_path, method: :get, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to '検索', posts_index_path, method: :get, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to '通知', posts_index_path, method: :get, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'メッセージ', posts_index_path, method: :get, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', "/posts/#{current_user.username}/profile", method: :get, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'アカウント作成', signup_path, method: :get, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to 'ログイン', login_path, method: :get, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to '設定', posts_index_path, method: :get, class: "nav-link"%>
            </li>
          </ul>
        </header>
      </div>
      <div class="col-6">
        <!-- 各ビューファイルは以下のyieldに代入され、application.html.erbの一部となる -->
        <%= yield %>
      </div>
      <div class="col-3">
        <!-- コンテンツ -->
      </div>
    </div>
  </body>
</html>